@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./assets/fontiran.css");

* {
  font-family: dana !important;
  text-align: right !important;
}
body {
  direction: "rtl";
}


.center { 
  text-align: center;
}

.MuiDataGrid-renderingZone, .MuiDataGrid-root .MuiDataGrid-row {
  width: 100% !important;
  text-align: right !important;
}
.MuiTablePagination-actions {
  direction: ltr !important;
  display: flex !important;
  flex-direction: row-reverse !important;
}